@import url('https://fonts.googleapis.com/css2? family= Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700 & display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(120deg, #9496f1d8, #4d168dda);
    font-family:  'Arimo', sem serifa;;
}

h1{
    color: aliceblue;
}